#btn1{
    border: none;
    background-color: transparent;
}
#btn2{
    border: none;
    background-color: transparent;
}
#btn3{
    border: none;
    background-color: transparent;
}
#btn4{
    border: none;
    background-color: transparent;
}
p{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
#main{
    display: flex;
}
#btn{
    
    padding-left: 64rem;
    padding-top: 22px;

}